<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Research Credits</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class = 'container'>
        <div class="jumbotron">
            <div class="page-header" ><h2 style="text-align: center;color: rgba(0, 4, 255, 0.541);">Image Encryption Webapp</h2></div>
        
            <div class='row' style="background-color: rgb(226, 226, 226);" style="border-radius: 1rem;" >
                <div class="col-lg-6" style="padding: 2rem;"><a style="margin:2rem 40%" class="btn btn-info btn-lg" role="button" href="{{url_for('enc')}}">encrypt</a></div>
                <div class="col-lg-6" style="padding: 2rem;"><a style="margin:2rem 40%" class="btn btn-info btn-lg" role="button" href="{{url_for('dec')}}">decrypt</a></div>
                   
            </div>
        </div>

    </div>

   

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>